/* Media query for responsive design */

.link {
    font-weight: 500;
    color: #bcddef;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.logo {
    height: 3em;
    padding: .1em;
    will-change: filter;
    transition: filter 300ms;
}