/* Media query for responsive design */

Link {
    text-underline-offset: 0;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        margin-top: 20px;
    }
}